/* ============== Start Style Common ============== */

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

img {
  width: 100%;
  height: auto;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
  color: #4b4b4b;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 76px;
}

.section-content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: #ebcb80;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 50px;
  text-transform: uppercase;
}

/* ============== End Style Common ============== */

/* ============== Start Header ================== */
.main-header {
  background-image: url(../images/header/header-bg.png);
  background-position: center;
}

.main-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  margin-top: 54px;
}

/* ============== Main Nav ============== */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 41px;
}

.nav-header-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-header-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin-left: 50px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-header-link:hover {
  color: #ebcb80;
}

.btn-take-a-tour {
  border-color: #ffffff;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  margin-left: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.btn-take-a-tour:hover {
  border: 2px solid #f6f6f6;
}

/* ============== Start Banner Style ============== */
.banner-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.banner-title {
  font-family: "Montserrat", sans-serif;
  margin: 30px 250px 0px 250px;
  color: #ffffff;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}

.banner-description {
  margin: 30px 250px 0px 250px;
  font-weight: 300;
  color: #ffffff;
}

.btn-explore {
  color: #4b4b4b;
  text-shadow: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 88px;
  padding-right: 35px;
  padding-left: 35px;
}

.btn-explore:hover {
  border: 2px solid #ebcb80;
}

/* ============== End Banner ============== */

/* -------Start Pricing Plan Styles------- */
.pricing {
  background: #f6f6f6;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 116px;
}

.card-item {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.card-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  align-items: center;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.freemium-img {
  background-image: url(../images/pricing/freemium.png);
}

.enterprise-img {
  background-image: url(../images/pricing/enterprise.png);
  background-position: center;
}

.business-img {
  background-image: url(../images/pricing/business.png);
  background-position: center;
}

.start-up-img {
  background-image: url(../images/pricing/start-up.png);
  background-position: center;
}

.card-name {
  padding-top: 37px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 16px;
}

.currency {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
}

.price {
  font-size: 64px;
  line-height: 78px;
  padding-right: 10px;
}

.detail-list {
  padding-top: 25px;
}

.detail-item {
  color:#4b4b4b;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.btn-get-started {
  color: #4b4b4b;
  background-color: #ffffff;
  border: none;
  padding-right: 36px;
  padding-left: 36px;
  margin: 17px 31px 36px 31px;
  letter-spacing: 1pxs;
}

.btn-get-started:hover {
  background-color: #ebcb80;
}

/* -------End Pricing Plan Styles------- */

/* -------Start Features Styles------- */
.features {
  background: #ffffff;
}

.sub-heading {
  color: #4b4b4b;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
}

.features-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.sign-up-title {
  color: #ffffff;
  padding-top: 72px;
}

.laptop-image {
  width: 802px;
  height: 464px;
}

.about-us-content {
  width: 550px;
}

.features-item {
  display: flex;
  align-items: center;
}

.left-feature-item {
  position: relative;
  margin-bottom: 65px;
  text-align: left;
  margin-top: 35px;
}

.left-feature-item-icon {
  position: absolute;
  font-size: 40px;
  color: #129cf3;
  right: 0;
  top: -8px;
  width: 90px;
  height: 90px;
  text-align: center;
}

.left-feature-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  /* margin-bottom: 23px; */
  color: #333;
}

.left-feature-item p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.feature-iphone img {
  width: 100%;
}

.right-feature-item {
  text-align: top;
}

/* -------End Features Styles------- */

/* -------Start Sign-up Styles ---------- */

.sign-up {
  background-image: url(/images/sign-up/sign-up-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-content {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 48px;
}

.title-form {
  font-family: "Lucida Grande";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-top: 28px;
  color: #ebcb80;
  text-transform: uppercase;
  text-align: center;
}

.sign-up-form {
  box-sizing: border-box;
  background-color: #4b4b4b;
  border-radius: 8px;
  padding: 0px 52px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.input-container {
  height: 45px;
  /* margin-bottom: 25px; */
  margin-top: 25px;
  text-align: center;
}

.input {
  background-color: #f6f6f6;
  width: 256px;
  height: 36px;
  border: 1px solid #999999;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  opacity: 0.8;
  padding: 8px 128px 10px 15px;
}

.btn-sign-up {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #4b4b4b;
}

.btn-sign-up:hover {
  background-color: #ebcb80;
  transform: translateY(-2px);
}

.login-here {
  color: #ebcb80;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* Footer Styles */

.footer {
  background-color: #f6f6f6;
}

.footer-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-footer-list {
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  justify-content: space-between;
}

.nav-footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #4b4b4b;
  margin-right: 5px;
}

.social-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 5px;
}

.social-link {
  width: 29.42px;
  height: 23.98px;
  color: #4b4b4b;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
}

.subscribe > * {
  flex: 1 1 160px;
}
