
/* ============== Start Style Common ================== */
body{
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

img {
	width: 100%;
	height: auto;
}

.section-heading {
  font-family: 'Montserrat', sans-serif;
  font-size:44px;
  line-height: 48px;
  color: #4B4B4B;
	text-align: center;
}

.section-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.btn{
	font-family: 'Montserrat', sans-serif;
	background:#EBCB80;
	width: 179.88px;
	height: 48px;
  font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 50px;
}


/* ============== End Style Common ================== */


/* ============== Start Header ================== */
.main-header {
	/* background-image:url(../images/header/header-bg.png); */
  background: rgba(0, 0, 0, 0.3) url(../images/header/header-bg.png);
	/* background-repeat: no-repeat; */
  background-position: center;
}

.main-menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-title{
  margin-top: 54px;
}

/* Main Nav */
.main-nav{
	display: flex;
	align-items:center;
	justify-content: space-between;
  margin-top: 41px;
}

.nav-header-list {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.nav-header-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-left: 50px;
  font-size: 18px;
	line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav-header-link:hover {
  color: #EBCB80;
}

.btn-take-a-tour{
	border-color: #FFFFFF;
	color: rgba(255, 255, 255, 1);
	background-color: transparent;
	margin-left: 50px;
}

.btn-take-a-tour:hover{
	border: 2px solid #F6F6F6;
}

/* ===== Banner ====== */

.banner-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.banner-title {
  font-family: 'Montserrat', sans-serif;
	margin:  30px 250px 0px 250px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 44px;
	line-height: 48px;
}

.banner-description {
  margin: 30px 250px 0px 250px;
  font-weight: 300;
  color: #FFFFFF;
}

.btn-explore {
  color: #4B4B4B;
  text-shadow: rgba(0, 0, 0, 0.5);
	margin-top: 30px;
  margin-bottom: 88px;
}

.btn-explore:hover{
	border: 2px solid #EBCB80
} 


/* End Banner */

/* -------Start Pricing Plan Styles------- */
.pricing {
  padding: 100px 0;
	background-color: #f6f6f6;
  text-align: center;
  background: radial-gradient(727.81px at 49.32% 51.38%, #fff 0%, #f6f6f6 100%);
}

.plan-list {
	display: flex;
  justify-content: center;
  padding-top: 45px;
}

/* Plan Item */
.plan-item {
  /* padding: 45px 46px 40px; */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);}

.plan-name {
	/* background-image: url(../images/pricing/freemium.png); */
  position: relative;
  padding-bottom: 18px;
  /* font-family: 'PlayfairDisplay-Black'; */
	font-size: 18px;
	line-height: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF
}

.plan-name:after {
  position: absolute;
  top: calc(50% + 15px);  
  left: calc(50% - 25px);
  content: '';
  width: 50px;
  height: 1px;
  background: #EBCB80;
}

.plan-content {
  padding: 62px 28px 15px;
  color: #2e2e30;
}

.plan .option-list {
  margin-top: 25px;
}

.plan .option-item {
  padding: 14px 0;

  font-family: 'Muli-Light';
  letter-spacing: .1px;

  border-top: 1px solid #fbf8f8;
}

.plan-cost {
  font-family: 'Muli-Light';
  font-size: 20px;
}

.plan .cost-number {
  font-family: 'Muli-ExtraBold';
  font-size: 78px;
  letter-spacing: .5px;
}

.btn .btn-get-started {
  text-transform: uppercase;
}

.plan-item:hover {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
/* -------End Pricing Plan Styles------- */

/* -------Start Features Styles------- */
.features {
  padding: 100px 0;
}

.sub-heading {
	color: #4B4B4B;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	text-align: center;
}

.features-container{
	display: flex;
	text-align: center;
	align-items: center;
}

.laptop-image {
	width: 802px;
	height: 464px;
}

.about-us-content {
  width: 550px;
} 

.features-item {
	display: flex;
	align-items: center;
}

.left-feature-item {
	position: relative;
	margin-bottom: 65px;
	text-align: left;
	margin-top: 35px;
}

.left-feature-item-icon{
	position: absolute;
	font-size: 40px;
	color: #129CF3;
	right: 0;
	top: -8px;
	width: 90px;
	height: 90px;
	text-align: center
}

.left-feature-item h3 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	/* margin-bottom: 23px; */
	color: #333;
}

.left-feature-item p {
	color: #333;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	
}

.feature-iphone img {
	width: 100%;
}

.right-feature-item {
	text-align: top ;
}

/* -------End Features Styles------- */

/* -------Start Sign-up Styles ---------- */

.sign-up {
	background-image: url(/images/sign-up/sign-up-bg.png);
	padding: 100px 0;
}

.sign-up-content {
  display:flex;
  justify-content: center;
  
}

.title-form {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1px;
	color: #EBCB80;
	text-transform: uppercase;
  text-align: center;
}

.sign-up-form {
	box-sizing: border-box;
  background-color: #4B4B4B;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  justify-content: center;
  
}

.input-container {
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  text-align: center;
  /* background-color: #f6f6f6; */
}

.input {
	background-color: #f6f6f6;
  height: 100%;
  width: 100%;
	border: 1px solid #999999;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  opacity: 0.8;
}

.btn-sign-up {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #4B4B4B;
}

.btn-sign-up:hover {
  background-color: #EBCB80;
  transform: translateY(-2px);
}

.login-here {
  color: #EBCB80;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* Footer Styles */

.footer {
  background-color: #F6F6F6;
}

.footer-header {
  display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.nav-footer-list {
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  justify-content: space-between;
}

.nav-footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #4B4B4B;
  margin-right: 5px;
}

.social-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 5px;
}

.social-link {
  width: 29.42px;
  height: 23.98px;
  color: #4B4B4B;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
}

.subscribe>* {
  flex: 1 1 160px;
}