:root {
  --dark: #4B4B4B;
  --width: 1440x;

  /* btn */
  --btn-primary-color: #EBCB80;
  --btn-border-radius: 50px;


  /*color text */
  --color-text-outline-primary: #0061e3;
  --color-text-light: #FFFFFF;
  --color-text-original: #677183;

  /* bg */
  --bg-gradient: linear-gradient(180deg, #fff 10%, #67a2fe 230%);
  --bg-checkmark: #67a2fe;
  --bg-box-shadow: #a5c5fa;

  /* font-family */
  --font-family-bold: 'Montserrat-Bold';
  --font-family-semibold: 'SourceSansPro-Light';
  --font-family-regular: 'SourceSansPro-Regular';
  
  /* font-size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 44px;
  --font-size-logo: 36px;

  /* font-weight */
  --font-weight-small: 300;
  --font-weight-medium: 400;
  --font-weight-big: 700;

  /* line-height*/
  --line-height-title: 48px;
  --line-height-title: 44px;
  --line-height-medium-title: 30px;
  --line-height-text: 30px;
  --line-height-small-text: 24px;
  --line-height-big: 88px;
  --line-height-supper-small: 21px;
  --line-height-text-btn: 20px;

}